* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(0, 0%, 95%);
}
main {
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  width: 50vw;
  min-height: 100vh;
}
div {
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}
#one,
.one {
  background-color: hsl(31, 77%, 52%);
  color: hsl(31, 77%, 52%);
}
#two,
.two {
  background-color: hsl(184, 100%, 22%);
  color: hsl(184, 100%, 22%);
}
#three,
.three {
  background-color: hsl(179, 100%, 13%);
  color: hsl(179, 100%, 13%);
}
h1,
button {
  color: hsl(0, 0%, 95%);
  border: transparent;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  padding-top: 30px;
}
.one,
.two,
.three {
  padding: 10px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 95%);
  padding-left: 20px;
  padding-right: 20px;
}
button {
  margin-top: 70px;
}
